
li {
  
  font-size: x-large;
}

h5 {
  width: 50%;
  text-align: center;
}
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    text-align: left;
}

#welcomehead {
    z-index: 999;
    padding-top: 100px;
}

.welcome {
  padding-top: 100px;
}

header {
    text-align: center;
    z-index: 999;
}
#popup {
  position: absolute;
  top:200px;
  padding: 0,0,0,0;
  margin-top: 0;
  margin-left: 0px;
  margin-bottom: 80px;
  width: 140px;
  height: 20px;
  background-color: black;
  display: none; /* Initially hidden */
  color: rgb(36, 255, 36);
  vertical-align: top;
  text-align: center;
  font-size: large;
                
}   

.ips {
  vertical-align: top;
  background-color: white;
}
#clientip {
  width:500px;
  display: inline;
  vertical-align: top;
  font-size: 18px;
}
#serverip {
  text-align: right;
  padding-top: 0;
  margin-top: 0;
  right:250px;
  display: inline;
  vertical-align: top;
  font-size: 18px;
  position:absolute;
}
#computer {
  border: none;
}
#envelope1 {
  margin-left: 250px;
  border: none;
}
#envelope2 {
  margin-left: 250px;
  border: none;
}
#envelope3 {
  margin-left: 250px;
  border: none;
}

#deco {
  display: inline;
  float: right;
  margin-left: 100px;
  border: solid;
  border-color: red;
  border-width: 10px;
}
#bigwelcome {
  float: left;
  width: 75%;
}
body .welcome #deco {
    float: right;
}
  
ol {
    list-style-type: none; /* Removes the default numbering */
}

h3 {
    color: red;
    font-family: fantasy;
    font-size: xx-large;
    font-variant-caps: normal;
    font-weight: 300;
    text-decoration: underline;
}
#scada1 {
  border: solid;
  border-width: 10px;
  border-color: slategray;
  background-color: #aaa;
  width: max-content;
  height: max-content;
}
#vacuumchillerplchtml {
  display: block;
  width: fit-content;
  margin-left: 20px;
}
.pushbutton {
  border-radius: 100%;
}
.chart {
  width: 80%;
  height: 50%;
}
#liveGraph {
  width: 100%;
  height: fit-content;
  margin-left: 18rem;
}
.scadadata {
  font-size: small;
}

h2 {
    color: rgb(180, 8, 8);
    background-color: #aaa;
    font-family: fantasy;
    font-variant-caps: petite-caps;
    font-size: xxx-large;
    border-width: 10px;
    border-color: slategray;
    
}

.stick {
    position: sticky;
    top: 55px;
    border-bottom: slategray;
    border-width: 10px;
}
#welcome {
    color: red;
    text-align: center;
    display: block;
    padding: 100;
    margin: 100;
    position: absolute;
    z-index: 998;
}

p {
    color: black;
    
    font-size: x-large;
}

.p {
  margin-left: 10px;
  margin-right: 10px;
}

strong {
    color: red;
}

.timeandtemp {
  float: left;
  margin-right: 25%;
}

button {
    background-color: red;
    color: black;
    padding: 10px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border: solid 1px black;
    padding: 10px;
}

#ui_img {
    float: right;
}

.nav {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }

  .nav a {
    text-align: center;
    font-size: large;
    float: center;
    
  }
  .nav-home{
    top:0 ;
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 996;
  }
  .nav-home li {
    float: left;
    color: red;
    
    border-right: 1px solid red;
    padding: 0;
    
  }
  .nav-home li:last-child {
    float: right;
    padding-right: 25px;
  }
  .nav-home li a{
    display: block;
    font-size: 20pt;
    color: rgb(255, 0, 0);
    padding: 14px 16px;
    text-align: center;
  }
  .nav-home ol {
    background-color: rgb(192, 191, 191);
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    position: fixed;
    z-index: 997;
  }

  .show {
    display: block !important; /* Show the element */
}
  .hide {
    display: none;
  }

  svg {
    padding-bottom: 0px;
    height: 200px;
  }

  

.navbar-nav1 {
  opacity: 1;
}
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal content */
.modal-content {
    background-color: #000000;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}
#alarmhistorypump1Button {
  width: 50%;
}
#pump1alarmtimestamps {
  color: white;
}
#pump2alarmtimestamps {
  color: white;
}
.historymodalcontents {
  color: aliceblue;
}
/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.svg-container {
  border: dotted;
  border-color: rgb(180,8,8);
  width: 300px;
  padding: 10px;
  border-radius: 20px;
}
#pumpChart {
  width: 100% !important;
  height: 100% !important;
}
#pumptotalChartOutside {
  display: block !important;
  background-color: aaa;
}
#chartContainer {
  display: block;
  width: 80% !important;
  height: 50%;
  margin-left: 11rem;
}
.scadabuttoncontainer {
  display: block;
}
.scadabuttons {
  display: inline-block;
  margin-bottom: 20px;
}
@media (min-width: 1775px) {


    .navbar-toggler {
        display: none;
    }
    #raspi {
      right: 0px;
      border: none;
      position: absolute;
      padding-bottom: 0px;
    
    }
}

.transparent-background {
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value to control transparency */
}
@media (max-width: 1775px) {
html {
  zoom: .35;
}
body {
  width: fit-content;
}
.navbar-nav {
  display: none;
}
.navbar-toggler {
    display:block;
    left: 0px;
    font-size: 20pt;
    opacity: .8;
}

.welcome {
  width: 90%;
}
  #raspi {
    border: none;
    display: inline-block;
    position: relative;
    float: right;
    width: 5%;
    padding-right: 200px;
  
  }
  #envelope1 {
    display: inline-block;
  }
  #computer {
    display: inline-block;
  }
  #serverip {
    font-size: 10pt;
    display: inline-block;
    right:0px;
  }
  #clientip {
    display: inline-block;
    font-size: 10pt;
    left:0px;
  }
}


@media (max-width: 500px) {
  /* CSS styles for screens less than 500px wide */
  /* Add your styles here */
#vacuumchillerplchtml {
  height: min-content;
}
#scada1 {
  width: 100%;
}
.svg-container{
  width: 300px;
}
}

.scada2 {
  background-color: slategray;
}

.intro {
  padding-left: 50px;
  padding-right: 50px;
}
#JeffreyReagan {
  display: block;
  border-color: rgb(180, 8, 8);
  border-width: 5px;
}
#crownlist {
  display: block;
}
#firstofpage {
  margin-top: 55px;
}

#windmillsvg {
  height: 600px;
}
.windmillsvg {
  height: 600px;
}