/* Add your styles here */

body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    text-align: left;
    padding: 20px;
}
header {
    text-align: left;
    
}
ol {
    list-style-type: none; /* Removes the default numbering */
}
h3 {
    color: red;
}
h2 {
    color: red;
}
h1 {
    color: red;
    text-align: center;
}

p {
    color: black;
}

strong {
    color: red;
}

button {
    background-color: red;
    color: black;
    padding: 10px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border: solid 1px black;
    padding: 10px;
}

#ui_img {
    float: right;
}
.nav {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }
  .nav a{
    text-align: center;
    font-size: large;
    float: center;
  }