<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeff1163's webpage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>    
    <header>
        <div class="nav-home">
            <nav>
                <button class="navbar-toggler" onclick="toggleNavbar()">☰</button>
                <div class="navbar-nav">
                    <ol>
                        <li><a href="page_2.html" style="text-decoration:none">PLC/HMI/SCADA programming and design</a></li>
                        <li><a href="page_3.html" style="text-decoration:none">Python web development</a></li>
                        <li><a href="page_4.html" style="text-decoration:none">News in Automation</a></li>
                        <li><a href="page_5.html" style="text-decoration:none">Robotics</a></li>
                        <li><a href="page_6.html" style="text-decoration:none">Hobbies</a></li>
                        <li><a href="page_7.html" style="text-decoration:none">Contact Me</a></li>
                    </ol>
                </div>
            </nav>
        </div>
    </header>
    </div>
    <div class="welcome">
    
        <div id="popup">
            <div id="content"></div>
          </div>
        <img id="computer"src="/static/images/computer.jpg" width="50" height="50"/><img id="envelope1" src='/static/images/envelope1.jpg' alt="envelope1" width="50" height="50"><img id="raspi" src="/static/images/raspi.jpg" width="100" height="100"/>
        </div>
    
    <h2 class="ips"> 
        <p id="clientip">Your IP Address: {{ visitor_ip }}</p>

        <p id="serverip"></p>
        
    </h2>
    <div id="bigwelcome">
        <img id="deco" src="/static/images/deco.jpg" width="300" height="300"> 
        <p>Hello World! I'm Jeffrey Reagan, and I'm thrilled to welcome you to my digital space where I share my experience and knowledge in industrial automation, web development, programming, robotics, as well as my hobbies.
        </p>
        <p>Since learning about industrial automation at Alfred State in 2019 and starting my career in industrial automation in 2021 at a state of the art beverage package manufacure, I haven't lost the captivating feeling of the technology avaliable to us today. Programmable Logic Controllers and MANY other breakthrough technologies have allowes us to optimize efficiency and productivity .</p>
        <p>
            In addition to my passion for industrial automation, I'm equally enthusiastic about programming and web development. The ever-evolving landscape of the internet offers endless possibilities for problem-solving, and I'm constantly exploring new technologies and techniques to add to my toolbelt.</p>
        <p>Through this website, I aim to share my insights, experiences, and projects with you. Whether you're a fellow enthusiast, a curious learner, or someone seeking solutions for your industrial automation questions, I invite you to contact me on this page.</p>
        <p>So, take a moment to browse through the pages, explore the resources, and feel free to reach out if you have any questions or would like to collaborate on a project. Together, let's push the boundaries of innovation and make a meaningful impact in the world of technology.</p>
        <p>Thanks for reading,
           Jeffrey Reagan</p>
    </div>
    <div class="timeandtemp">
    <p>Current Time: <span id="time"></span></p>
    <p>Internal Temperature: <span id="temperature"></span></p>

    <!-- Link to your JavaScript file -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <p><strong>You have accessed the network. Please be aware current development in progress.</strong></p>
</body>   
 <!-- templates/index.html -->
<heading>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Image Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_1.css') }}">
</heading>
<body>
    <button id="generateButton">Generate Random Image</button>
    <img id="randomImage" alt="Random Image">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <h1>Test for page 2 Button</h1>
    <button id="page_2_button" onclick="changePage_2()"> Go to Page 2 </button>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <button id="page_3_button" onclick="changePage_3()"> Go to Page 3</button>
    <script>src="{{ url_for('static', filename='js/main.js') }}"</script>

    <button id="codeacademy_projects_button" onclick="change_Codeacademy_projects()"> Go to Codeacademy Projects</button>
    <script>src="{{ url_for('static', filename='js/main.js') }}"</script>

</body>
</div>
</div>
</html>

