<!DOCTYPE html>
<html>
    <head>
        <div class="dependants">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
            <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        </div>
    </head>
    <header>
        <div class="nav-home">
            <nav>
                <button class="navbar-toggler" onclick="toggleNavbar()">☰</button>
                <div class="navbar-nav">
                    <ol class="navbar-nav1">
                        <li><a href="page_2.html" style="text-decoration:none">Industrial Control Web Interfaces</a></li>
                        <li><a href="page_3.html" style="text-decoration:none">Technologies Used</a></li>
                        <li><a href="page_4.html" style="text-decoration:none">Implementation</a></li>
                        <li><a href="page_5.html" style="text-decoration:none">Benefits</a></li>
                        <li><a href="page_6.html" style="text-decoration:none">About Me</a></li>
                        <li><a href="page_7.html" style="text-decoration:none">Contact</a></li>
                    </ol>
                </div>
            </nav>
        </div>
    </header>
<h2>Benefits of Industrial Process Monitoring and Control</h2>
    <ol>
        <li>Automatic reporting to a database</li>
        <li>Alarm Monitoring</li>
        <li>Remote Read and Write</li>
        <li>Real-time graph analysis</li>
    </ol>




</html>