<!DOCTYPE html>
<html>
    <head>
        <div class="dependants">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
            <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        </div>
    </head>
    <header>
        <div class="nav-home">
            <nav>
                <button class="navbar-toggler" onclick="toggleNavbar()">☰</button>
                <div class="navbar-nav">
                    <ol class="navbar-nav1">
                        <li><a href="index.html" style="text-decoration: none;">Home</a></li>
                        <li><a href="page_2.html" style="text-decoration:none">Industrial Control Web interfaces</a></li>
                        <li><a href="page_3.html" style="text-decoration:none">Technologies used</a></li>
                        <li><a href="page_4.html" style="text-decoration:none">Implementation</a></li>
                        <li><a href="page_5.html" style="text-decoration:none">Benefits</a></li>
                        <li><a href="page_6.html" style="text-decoration:none">About me</a></li>
                        <li><a href="page_7.html" style="text-decoration:none">Contact</a></li>
                    </ol>
                </div>
            </nav>
        </div>
        
    </header>
<h2 id="firstofpage">Benefits of Industrial Process Monitoring and Control</h2>
<h3>Data retrieval</h3>
    <ol>
        <li>Automatic reporting to a database</li>
        <li>Alarm Monitoring</li>
        <li>Remote Read and Write</li>
        <li>Real-time graph analysis</li>
    </ol>
<h3>Maintenance and Troubleshooting</h3>
    <ol>
        <li>Identify and respond to issues quickly</li>
        <li>Identify pinch points in processes</li>
        <li>Track run time and downtime</li>
        <li>Production/Spoilage quantities</li>
        <li>Events, alarms, and times recorded</li>
    </ol>
<h3>Control</h3>
    <p>The ability to control a process on a web UI is one of the powerful benefits of SCADA. After parameters have been changed, the data can be analyized to study improvements or drawbacks. If the system is online, it also allows for offsite control of processes.</p>

</html>