<!DOCTYPE html>
<html>
    <head>
        <div class="dependants">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
            <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        </div>
    </head>
    <header>
        <div class="nav-home">
            <nav>
                <button class="navbar-toggler" onclick="toggleNavbar()">☰</button>
                <div class="navbar-nav">
                    <ol class="navbar-nav1">
                        <li><a href="index.html" style="text-decoration: none;">Home</a></li>
                        <li><a href="page_2.html" style="text-decoration:none">Industrial Control Web interfaces</a></li>
                        <li><a href="page_3.html" style="text-decoration:none">Technologies used</a></li>
                        <li><a href="page_4.html" style="text-decoration:none">Implementation</a></li>
                        <li><a href="page_5.html" style="text-decoration:none">Benefits</a></li>
                        <li><a href="page_6.html" style="text-decoration:none">About me</a></li>
                        <li><a href="page_7.html" style="text-decoration:none">Contact</a></li>
                    </ol>
                </div>
            </nav>
        </div>
        
    </header>
    <h2 class="stick">Introduction</h2>
    <div class="intro">
        
                <p class="p">Hello, my name is Jeffrey Reagan. I am an industrial automation professional, here to share insights into my journey with a particular focus on programming Programmable Logic Controllers (PLCs), Human-Machine Interfaces (HMIs), and Supervisory Control and Data Acquisition (SCADA) systems.</p>
                <p class="p">My journey began at Alfred State University, where I pursued and successfully completed an Associate's degree in Electrical Construction and Maintenance. It was here I found a passion for programming and automation. </p>
                <p class="p">Transitioning from traditional relay logic systems to modern Programmable Logic Controllers (PLCs) was a turning point early in my career. PLCs provide unparalleled flexibility and efficiency, simplifying control logic design and enabling rapid adjustments without extensive rewiring. </p>
                <p class="p">Along with PLCs, improved methods of monitoring and controlling processes were developed. Human machine Interfaces(HMIs) became common on the production floor. These interfaces communicate with the PLC and display realtime data, alarm history, input/output states, control parameters, and user-friendly representations of the machine. </p>
                <p class="p">PLCs integrate seamlessly with other industrial components, enabling efficient communication and coordination between different systems. These industrial computers hold and execute the program that controls the field devices(motors, pumps, solenoids) by interfacing directly with the field devices or indirectly through RIO(remote controllers typically held near field devices), VFDs(Variable Frequency Drives),Servo Drives,soft starts, and any other inputs/outputs conventional relay logic would allow.</p>
    </div>

    <div class="skills">
        <h2 class="stick">Skills</h2>
            <h3>PLC Programming</h3>
            <ul>
                <li>Ladder logic, function block diagrams, structured text</li>
                <li>Allen Bradley software(Studio 5000, RSlogix, RsLinx)</li>
                <li>Communication protocols (Modbus, Profibus, Ethernet/IP)</li>
                <li>Troubleshooting and diagnostics</li>
            </ul>
            <h3>HMI Programming</h3>
            <ul>
                <li>Designing intuitive interfaces</li>
                <li>Dynamic graphics, alarm management, trend displays</li>
                <li>Integration with PLCs and other devices</li>
            </ul>
            <h3>SCADA configuration</h3>
            <ul>
                <li>Deploying SCADA systems: Vacuum Pumps UI</li>
                <li>System architecture design</li>
                <li>Real-time visualization, trends, alarms, reports</li>
            </ul>
        </div>
        <div class="experience">
            <h2 class="stick">Experience</h2>
                <h3>Industrial Electrician May 2021-Present</h3>
                
                <ul id="crownlist">
                   
                    <li>Maintain electrical systems at an alluminum beverage can manufacturing plant.</li>
                    <li>Program devices with Allen Bradley software(Studio 5000, RSlogix, RsLinx)</li>
                    <li>Optimize process by changing PLC parameters such as speed, time, acceleration, etc.</li>
                    <li>Configure Powerflex VFDs</li>
                    <li>Remap HMI tags and design alarm history pages</li>
                    <li>Implementing web UI to connect to and monitor PLCs</li>
                </ul>
                <img id="JeffreyReagan" src="/static/images/image1.png" height="400" width="400">
                <h3>SCADA web development Dec 2023-Present</h3>
                <ul>
                    <li>Deploying SCADA systems</li>
                    <li>System architecture design</li>
                    <li>Real-time visualization, trends, alarms, reports</li>
                </ul>
                <h3>Rockwell Automation Courses 2021-2022</h3>
                <ul>
                    <li>Factorytalk View Studio</li>
                    <li>Powerflex 525 configuration</li>
                    <li>Powerflex 755 configuration</li>
                    <li>Communication Protocols- Rxlinx/Factorytalklinx, Ethernet/Ip</li>
                    <li>Studio 5000 (Rslogix5000)</li>
                </ul>
                
            </div> 
        <div class="education">
            <h2 class="stick">Education</h2>
                <h3>Electrical Construction and Maintenance (Associate Degree) Alfred State NY 2019-2021</h3>
                <ul>
                    <li>Extensive knowledge of Electrical theory</li>
                    <li>Power Distribution</li>
                    <li>Electrical schematics</li>
                    <li>Motor Control</li>
                    <li>PLC/PAC system automation</li>
                    <li>HMI programming</li>
                    <li>Renewable energy (wind/solar)</li>
                </ul>
                <h3>Diesel Technology Certification Northern Tier Career Center 2019</h3>
                <ul>
                    <li>Mechanical theory and hands on repair on engines, suspension, brakes, etc</li>
                    <li>Basic Electrical concepts</li>
                    <li>Awarded student of the year</li>
                </ul>
                <h3>Codecademy (Current Student)</h3>
                <ul>
                    <li>Full stack web development (HTML,CSS,JavaScript)</li>
                    <li>Python 3(Certification)</li>
                    <li>Data Science (SQL,Python)</li>
                    <li>Intro to Programming (Certification)</li>
                </ul>
                
            </div>         





</html>