<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.0.0/luxon.min.js"></script>
    <script src="{{ url_for('static', filename='js/temp_2.js') }}"></script>
    <meta name="viewport" content="width=400"/>

    </head>
    <header>
        <div class="nav-home">
            <nav>
                <button class="navbar-toggler" onclick="toggleNavbar()">☰</button>
                <div class="navbar-nav">
                    <ol class="navbar-nav1">
                        <li><a href="index.html" style="text-decoration: none;">Home</a></li>
                        <li><a href="page_2.html" style="text-decoration:none">Industrial Control Web interfaces</a></li>
                        <li><a href="page_3.html" style="text-decoration:none">Technologies used</a></li>
                        <li><a href="page_4.html" style="text-decoration:none">Implementation</a></li>
                        <li><a href="page_5.html" style="text-decoration:none">Benefits</a></li>
                        <li><a href="page_6.html" style="text-decoration:none">About me</a></li>
                        <li><a href="page_7.html" style="text-decoration:none">Contact</a></li>
                    </ol>
                </div>
            </nav>
        </div>
        
    </header>
    <div class="welcome">
    
        <div id="popup">
            <div id="content"></div>
          </div>
        <img id="computer"src="/static/images/computer.jpg" width="50" height="50"/><img id="envelope1" src='/static/images/envelope1.jpg' alt="envelope1" width="50" height="50"><img id="raspi" src="/static/images/raspi.jpg" width="100" height="100"/>
        </div>
    
    <h2 class="ips"> 
        <p id="clientip">Your IP Address: {{ visitor_ip }}</p>

        <p id="serverip"></p>
    </h2>
    </div>
        <body>
        <section class="content">
            <h2 class="stick">Projects</h2>
                <p>These SCADA projects have been modified to simulate the processes. Feel free to make any changes!</p>
                <h3>Real-time Monitoring and Control Interface for Vacuum Pump Systems</h3>
            <div id="scada1">
                <div id="vacuumchillerplchtml">
                    <head>
                        <style>
                            .svg-container {
                                display: inline-block;
                                margin-right: 20px;
                                border-color: black; /* Adjust the margin as needed */
                            }
                            .banner-img {
                                width: 30%; /* Adjust the width as needed */
                                max-height: 100px; /* Maintain aspect ratio */
                                height: auto;
                        }
                        </style>
                    </head>
                    <body>
                        
                    <h2>Vacuum Pump UI</h2>
                    <div id="getdatapumps" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close" onclick="closeAlarmHistory('getdatapumps')">&times;</span>
                            <h3>All Pump Vacuum (psi)</h3>
                            <canvas id="pumptotalChart" width="400" height="400"></canvas> <!-- Canvas for Chart.js chart -->
                        </div>
                    </div>
                    <div id="getdataplc" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close" onclick="closeAlarmHistory('getdataplc')">&times;</span>
                            <h3>PLC I/O, DRIVES, NETWORK</h3>
                            <p style="color: white;">CURRENTLY IN DEVELOPMENT</p>
                            <svg></svg> <!-- THE FUTURE PLC PAGE, IO, DRIVES, NETWORK -->
                        </div>
                    </div>
                    <div class="scadabuttoncontainer">
                        <button id="allpumpsButton" class="scadabuttons" onclick="openaveragepumpdata('getdatapumps')">All Pump Vacuum</button>
                        <script src="{{ url_for('static', filename='js/temp_2.js') }}"></script>
                        <button id="plcdata" class="scadabuttons" onclick="openplcdata('getdataplc')">PLC IO</button>
                    </body>
                    </div>
                    <div class="svg-container">
                    <p class="scadadata">Vacuum at Pump 1: <span id="pump1vacuum"></span> psi</p>
                    <p class="scadadata">Seperator Pressure: <span id="seperator1_psi"></span> psi</p>
                    <p class="scadadata">Alarm: <span id="pump1alarmstatus"></span></p>
                    <p class="scadadata">Description:<span id="pump1_active_alarms"></span></p>
                    <svg>
                    <!--Inlet Filter-->
                        <rect x="75" y="20" width="100" height="50" stroke="black" fill="white"></rect>
                        <rect x="60" y="45" width="15" height="7" stroke="black" fill="green"></rect>
                        <text x="90" y="40" fill="black">inlet filter</text>
                    <!--Pipe 1 inlet-->
                        <polyline points="75,70 100,95 130,95 "
                        style="fill:none;stroke:black;stroke-width:1" />
                        <polyline points="100,70 110,80 141,80"
                        style="fill:none;stroke:black;stroke-width:1" />
                    <!--Pump-->
                        <circle cx="160" cy="110" r="35" stroke="black" fill="white" />
                        <circle id='pump1status'cx="160" cy="125" r="20" stroke="black" fill="green" />
                        <text x="140" y="100" fill="black">Pump</text>
                    <!--Pipe 2 orange pump to seperator-->
                        <rect x="195" y="105" width="10" height="5" stroke="black" fill="orange"></rect>
                        <rect x="205" y="102.5" width="25" height="10" stroke="black" fill="orange"></rect>
                        <rect x="210" y="80" width="15" height="25" stroke="black" fill="orange"></rect>
                        <rect x="230" y="105" width="10" height="5" stroke="black" fill="orange"></rect>
                        <rect x="235" y="105" width="5" height="50" stroke="black" fill="orange"></rect>
                    <!--Pipe 2 orange seperator to exhaust-->
                        <rect x="55" y="170" width="180" height="5" stroke="black" fill="orange"></rect>
                    <!--Radiator-->
                        <rect x="200" y="140" width="40" height="40" stroke="black" fill="orange"></rect>
                        <circle cx="220" cy="160" r="20" stroke="black" fill="green"></circle>
                        <circle cx="220" cy="160" r="5" stroke="black" fill="green"></circle>
                        <ellipse cx="220" cy="160" rx="16" ry="12" stroke="black" fill="white" transform="rotate(90 300 300)" ></ellipse>
                        <!--pump valve-->
                        <rect x="110" y="80" width="15" height="4" stroke="black" fill="green" id="pump1valve"> </rect>
                        <rect x="116.5" y="84" width="2" height="10" stroke="black" fill="black" id="pump1valvestem"></rect>
                        <polyline points="75,70 100,95 130,95 "
                        style="fill:none;stroke:black;stroke-width:1" />
                    <!--Exhaust-->
                        <ellipse cx="145" cy="550" rx="36" ry="22" stroke="black" fill="white" transform="rotate(90 300 300)" ></ellipse>
                        <text x="25" y="95" fill="black">Exhaust</text>
                    </svg>
                    <h2>Pump 1 Control</h2>


                    <h3>Set Pump Setpoint</h3>
                        <label for="setpoint">Enter Setpoint:</label>
                        <input type="number" id="setpoint" name="setpoint" required>
                        <button onclick="setSetpoint()">Submit</button>
                        <p id="message"></p>
                        <script>
                            function setSetpoint() {
                                var setpoint = document.getElementById("setpoint").value;
                                var xhr = new XMLHttpRequest();
                                xhr.open("POST", "/set_setpoint", true);
                                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                                xhr.onreadystatechange = function () {
                                    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                                        document.getElementById("message").textContent = xhr.responseText;
                                    }
                                };
                                xhr.send(JSON.stringify({ setpoint: setpoint }));
                            }
                        </script>



                    
                    <div id="pump1data" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close" onclick="closeAlarmHistory('pump1data')">&times;</span>
                            <h3>Motor Feedback Pump 1</h3>
                            <canvas id="pumpChart" width="400" height="400"></canvas> <!-- Canvas for Chart.js chart -->
                        </div>
                    </div>
                    
                    <button id="datahistorypump1Button" onclick="openpumpdata('pump1data')">Motor Feedback Pump 1</button>
                    <script src="{{ url_for('static', filename='js/temp.js') }}"></script>
                    

                    




                    <button class="pushbutton"id="togglePump1Button">Toggle Pump 1</button>
                    <button id="alarmhistorypump1Button" onclick="openAlarmHistory('pump1alarm')">Alarm History Pump 1</button>
                    
<!-- The Modal -->
                        <div id="pump1alarm" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close" onclick="closeAlarmHistory('pump1alarm')">&times;</span>
                            <h3>Alarm History for Pump 1</h3>
                            <p id="pump1alarmtimestamps" class="historymodalcontents"></p>
                        </div>

                        </div>
                    </div>
                    <div class="svg-container">
                        <p class="scadadata">Vacuum at Pump 2: <span id="pump2vacuum"></span> psi</p>
                        <p class="scadadata">Seperator Pressure: <span id="seperator2_psi"></span> psi</p>
                        <p class="scadadata">Alarm: <span id="pump2alarmstatus"></span></p>
                        <p class="scadadata">Description:<span id="pump2_active_alarms"></span></p>
                    
                        <!--Pump 2 UI-->
                        <svg>
                            <!--Inlet Filter-->
                                <rect x="75" y="20" width="100" height="50" stroke="black" fill="white"></rect>
                                <rect x="60" y="45" width="15" height="7" stroke="black" fill="green"></rect>
                                <text x="90" y="40" fill="black">inlet filter</text>
                        
                            <!--Pipe 1 inlet-->
                                <polyline points="75,70 100,95 130,95 "
                                style="fill:none;stroke:black;stroke-width:1" />
                                <polyline points="100,70 110,80 141,80"
                                style="fill:none;stroke:black;stroke-width:1" />
                            <!--Pump-->
                                <circle cx="160" cy="110" r="35" stroke="black" fill="white" />
                                <circle id='pump2status'cx="160" cy="125" r="20" stroke="black" fill="green" />
                                <text x="140" y="100" fill="black">Pump</text>
                            <!--Pipe 2 orange pump to seperator-->
                                <rect x="195" y="105" width="10" height="5" stroke="black" fill="orange"></rect>
                                <rect x="205" y="102.5" width="25" height="10" stroke="black" fill="orange"></rect>
                                <rect x="210" y="80" width="15" height="25" stroke="black" fill="orange"></rect>
                                <rect x="230" y="105" width="10" height="5" stroke="black" fill="orange"></rect>
                                <rect x="235" y="105" width="5" height="50" stroke="black" fill="orange"></rect>
                            <!--Pipe 2 orange seperator to exhaust-->
                                <rect x="55" y="170" width="180" height="5" stroke="black" fill="orange"></rect>
                            <!--Radiator-->
                        
                                <rect x="200" y="140" width="40" height="40" stroke="black" fill="orange"></rect>
                                <circle cx="220" cy="160" r="20" stroke="black" fill="green"></circle>
                                <circle cx="220" cy="160" r="5" stroke="black" fill="green"></circle>
                                <ellipse cx="220" cy="160" rx="16" ry="12" stroke="black" fill="white" transform="rotate(90 300 300)" ></ellipse>
                                <!--pump valve-->
                                <rect x="110" y="80" width="15" height="4" stroke="black" fill="green" id="pump2valve"> </rect>
                                <rect x="116.5" y="84" width="2" height="10" stroke="black" fill="black" id="pump2valvestem"></rect>
                                <polyline points="75,70 100,95 130,95 "
                                style="fill:none;stroke:black;stroke-width:1" />
                        
                            <!--Exhaust-->
                                <ellipse cx="145" cy="550" rx="36" ry="22" stroke="black" fill="white" transform="rotate(90 300 300)" ></ellipse>
                                <text x="25" y="95" fill="black">Exhaust</text>
                        </svg>
                        <h2>Pump 2 Control</h2>
                        <button id="togglePump2Button">Toggle Pump 2</button>
                        <button id="alarmhistorypump2Button" onclick="openAlarmHistory('pump2alarm')">Alarm History Pump 2</button>
                        <div id="pump2alarm" class="modal">

                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close" onclick="closeAlarmHistory('pump2alarm')">&times;</span>
                                <h3>Alarm History for Pump 2</h3>
                                <p id="pump2alarmtimestamps" class="historymodalcontents"></p>
                            </div>
    
                            </div>
                    </div>
                    <div class="svg-container">
                        <p class="scadadata">Vacuum at Pump 3: <span id="pump3vacuum"></span> psi</p>
                        <p class="scadadata">Seperator Pressure: <span id="seperator3_psi"></span> psi</p>
                        <p class="scadadata">Alarm: <span id="pump3alarmstatus"></span></p>
                        <p class="scadadata">Description:<span id="pump3_active_alarms"></span></p>
                    
                        <!--Pump 3 UI-->
                        <svg>
                            <!--Inlet Filter-->
                                <rect x="75" y="20" width="100" height="50" stroke="black" fill="white"></rect>
                                <rect x="60" y="45" width="15" height="7" stroke="black" fill="green"></rect>
                                <text x="90" y="40" fill="black">inlet filter</text>
                        
                            <!--Pipe 1 inlet-->
                                <polyline points="75,70 100,95 130,95 "
                                style="fill:none;stroke:black;stroke-width:1" />
                                <polyline points="100,70 110,80 141,80"
                                style="fill:none;stroke:black;stroke-width:1" />
                            <!--Pump-->
                                <circle cx="160" cy="110" r="35" stroke="black" fill="white" />
                                <circle id='pump3status'cx="160" cy="125" r="20" stroke="black" fill="green" />
                                <text x="140" y="100" fill="black">Pump</text>
                            <!--Pipe 2 orange pump to seperator-->
                                <rect x="195" y="105" width="10" height="5" stroke="black" fill="orange"></rect>
                                <rect x="205" y="102.5" width="25" height="10" stroke="black" fill="orange"></rect>
                                <rect x="210" y="80" width="15" height="25" stroke="black" fill="orange"></rect>
                                <rect x="230" y="105" width="10" height="5" stroke="black" fill="orange"></rect>
                                <rect x="235" y="105" width="5" height="50" stroke="black" fill="orange"></rect>
                            <!--Pipe 2 orange seperator to exhaust-->
                                <rect x="55" y="170" width="180" height="5" stroke="black" fill="orange"></rect>
                            <!--Radiator-->
                        
                                <rect x="200" y="140" width="40" height="40" stroke="black" fill="orange"></rect>
                                <circle cx="220" cy="160" r="20" stroke="black" fill="green"></circle>
                                <circle cx="220" cy="160" r="5" stroke="black" fill="green"></circle>
                                <ellipse cx="220" cy="160" rx="16" ry="12" stroke="black" fill="white" transform="rotate(90 300 300)" ></ellipse>
                                <!--pump valve-->
                                <rect x="110" y="80" width="15" height="4" stroke="black" fill="green" id="pump3valve"> </rect>
                                <rect x="116.5" y="84" width="2" height="10" stroke="black" fill="black" id="pump3valvestem"></rect>
                        
                                <polyline points="75,70 100,95 130,95 "
                                style="fill:none;stroke:black;stroke-width:1" />
                        
                            <!--Exhaust-->
                                <ellipse cx="145" cy="550" rx="36" ry="22" stroke="black" fill="white" transform="rotate(90 300 300)" ></ellipse>
                                <text x="25" y="95" fill="black">Exhaust</text>
                        </svg>
                        <h2>Pump 3 Control</h2>
                        <button id="togglePump3Button">Toggle Pump 3</button>
                        <button id="alarmhistorypump3Button" onclick="openAlarmHistory('pump3alarm')">Alarm History Pump 3</button>
                        <div id="pump3alarm" class="modal">

                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close" onclick="closeAlarmHistory('pump3alarm')">&times;</span>
                                <h3>Alarm History for Pump 3</h3>
                                <p id="pump3alarmtimestamps" class="historymodalcontents"></p>
                            </div>
    
                            </div>
                    </div>
                    <div class="svg-container">
                        <p class="scadadata">Vacuum at Pump 4: <span id="pump4vacuum"></span> psi</p>
                        <p class="scadadata">Seperator Pressure: <span id="seperator4_psi"></span> psi</p>
                        <p class="scadadata">Alarm: <span id="pump4alarmstatus"></span></p>
                        <p class="scadadata">Description:<span id="pump4_active_alarms"></span></p>
                    
                        <!--Pump 4 UI-->
                        <svg>
                            <!--Inlet Filter-->
                                <rect x="75" y="20" width="100" height="50" stroke="black" fill="white"></rect>
                                <rect x="60" y="45" width="15" height="7" stroke="black" fill="green"></rect>
                                <text x="90" y="40" fill="black">inlet filter</text>
                        
                            <!--Pipe 1 inlet-->
                                <polyline points="75,70 100,95 130,95 "
                                style="fill:none;stroke:black;stroke-width:1" />
                                <polyline points="100,70 110,80 141,80"
                                style="fill:none;stroke:black;stroke-width:1" />
                            <!--Pump-->
                                <circle cx="160" cy="110" r="35" stroke="black" fill="white" />
                                <circle id='pump4status'cx="160" cy="125" r="20" stroke="black" fill="green" />
                                <text x="140" y="100" fill="black">Pump</text>
                            <!--Pipe 2 orange pump to seperator-->
                                <rect x="195" y="105" width="10" height="5" stroke="black" fill="orange"></rect>
                                <rect x="205" y="102.5" width="25" height="10" stroke="black" fill="orange"></rect>
                                <rect x="210" y="80" width="15" height="25" stroke="black" fill="orange"></rect>
                                <rect x="230" y="105" width="10" height="5" stroke="black" fill="orange"></rect>
                                <rect x="235" y="105" width="5" height="50" stroke="black" fill="orange"></rect>
                            <!--Pipe 2 orange seperator to exhaust-->
                                <rect x="55" y="170" width="180" height="5" stroke="black" fill="orange"></rect>
                            <!--Radiator-->
                        
                                <rect x="200" y="140" width="40" height="40" stroke="black" fill="orange"></rect>
                                <circle cx="220" cy="160" r="20" stroke="black" fill="green"></circle>
                                <circle cx="220" cy="160" r="5" stroke="black" fill="green"></circle>
                                <ellipse cx="220" cy="160" rx="16" ry="12" stroke="black" fill="white" transform="rotate(90 300 300)" ></ellipse>
                                <!--pump valve-->
                                <rect x="110" y="80" width="15" height="4" stroke="black" fill="green" id="pump4valve"> </rect>
                                <rect x="116.5" y="84" width="2" height="10" stroke="black" fill="black" id="pump4valvestem"></rect>
                        
                                <polyline points="75,70 100,95 130,95 "
                                style="fill:none;stroke:black;stroke-width:1" />
                        
                            <!--Exhaust-->
                                <ellipse cx="145" cy="550" rx="36" ry="22" stroke="black" fill="white" transform="rotate(90 300 300)" ></ellipse>
                                <text x="25" y="95" fill="black">Exhaust</text>
                        </svg>
                        <h2>Pump 4 Control</h2>
                        <button id="togglePump4Button">Toggle Pump 4</button>
                        <button id="alarmhistorypump4Button" onclick="openAlarmHistory('pump4alarm')">Alarm History Pump 4</button>
                        <div id="pump4alarm" class="modal">

                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close" onclick="closeAlarmHistory('pump4alarm')">&times;</span>
                                <h3>Alarm History for Pump 4</h3>
                                <p id="pump4alarmtimestamps" class="historymodalcontents"></p>
                            </div>
    
                            </div>
                    </div>
                    <div class="svg-container">
                        <p class="scadadata">Vacuum at Pump 5: <span id="pump5vacuum"></span> psi</p>
                        <p class="scadadata">Seperator Pressure: <span id="seperator5_psi"></span> psi</p>
                        <p class="scadadata">Alarm: <span id="pump5alarmstatus"></span></p>
                        <p class="scadadata">Description:<span id="pump5_active_alarms"></span></p>
                    
                        <!--Pump 3 UI-->
                        <svg>
                            <!--Inlet Filter-->
                                <rect x="75" y="20" width="100" height="50" stroke="black" fill="white"></rect>
                                <rect x="60" y="45" width="15" height="7" stroke="black" fill="green"></rect>
                                <text x="90" y="40" fill="black">inlet filter</text>
                        
                            <!--Pipe 1 inlet-->
                                <polyline points="75,70 100,95 130,95 "
                                style="fill:none;stroke:black;stroke-width:1" />
                                <polyline points="100,70 110,80 141,80"
                                style="fill:none;stroke:black;stroke-width:1" />
                            <!--Pump-->
                                <circle cx="160" cy="110" r="35" stroke="black" fill="white" />
                                <circle id='pump5status'cx="160" cy="125" r="20" stroke="black" fill="green" />
                                <text x="140" y="100" fill="black">Pump</text>
                            <!--Pipe 2 orange pump to seperator-->
                                <rect x="195" y="105" width="10" height="5" stroke="black" fill="orange"></rect>
                                <rect x="205" y="102.5" width="25" height="10" stroke="black" fill="orange"></rect>
                                <rect x="210" y="80" width="15" height="25" stroke="black" fill="orange"></rect>
                                <rect x="230" y="105" width="10" height="5" stroke="black" fill="orange"></rect>
                                <rect x="235" y="105" width="5" height="50" stroke="black" fill="orange"></rect>
                            <!--Pipe 2 orange seperator to exhaust-->
                                <rect x="55" y="170" width="180" height="5" stroke="black" fill="orange"></rect>
                            <!--Radiator-->
                        
                                <rect x="200" y="140" width="40" height="40" stroke="black" fill="orange"></rect>
                                <circle cx="220" cy="160" r="20" stroke="black" fill="green"></circle>
                                <circle cx="220" cy="160" r="5" stroke="black" fill="green"></circle>
                                <ellipse cx="220" cy="160" rx="16" ry="12" stroke="black" fill="white" transform="rotate(90 300 300)" ></ellipse>
                                <!--pump valve-->
                                <rect x="110" y="80" width="15" height="4" stroke="black" fill="green" id="pump5valve"> </rect>
                                <rect x="116.5" y="84" width="2" height="10" stroke="black" fill="black" id="pump5valvestem"></rect>
                        
                                <polyline points="75,70 100,95 130,95 "
                                style="fill:none;stroke:black;stroke-width:1" />
                        
                            <!--Exhaust-->
                                <ellipse cx="145" cy="550" rx="36" ry="22" stroke="black" fill="white" transform="rotate(90 300 300)" ></ellipse>
                                <text x="25" y="95" fill="black">Exhaust</text>
                        </svg>
                        <h2>Pump 5 Control</h2>
                        <button id="togglePump5Button">Toggle Pump 5</button>
                        <button id="alarmhistorypump5Button" onclick="openAlarmHistory('pump5alarm')">Alarm History Pump 5</button>
                        <div id="pump5alarm" class="modal">

                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close" onclick="closeAlarmHistory('pump5alarm')">&times;</span>
                                <h3>Alarm History for Pump 5</h3>
                                <p id="pump5alarmtimestamps" class="historymodalcontents"></p>
                            </div>
    
                            </div>
                    </div>
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script src="/static/js/server_scripts.js"></script>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                    

                    
                </div>
                <div class="chart">
                   <!-- Include Chart.js library -->
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
                    
                    
                    <canvas id="liveGraph" aria-label="Vacuum Average" role="img"></canvas>
                    

                </div>
                <div id="chartContainer">
                    <h3 style="text-align: center;">All Pump Vacuum (psi)</h3>
                    <canvas class='' id="pumptotalChartOutside" width="600" height="300"></canvas>
                    <button id="leftArrow" onclick="scrollleft(fetchedData.timestamps, fetchedData.psip1, fetchedData.psip2, fetchedData.psip3, fetchedData.psip4, fetchedData.psip5)">-</button>
                    <button id="rightArrow" onclick="scrollRight(fetchedData.timestamps, fetchedData.psip1, fetchedData.psip2, fetchedData.psip3, fetchedData.psip4, fetchedData.psip5)">+</button> <!-- Canvas for Chart.js chart -->
                    <script src="/static/js/temp.js"></script>
                </div>
                <script src="/static/js/temp.js"></script>
            </div>

            




                












                <h3>Overview</h3>
                <img id="ui_img" src="/static/images/UI.PNG" alt="UI" style="width:700px;height:250px;">
                    <p class="p">As part of my project portfolio, I developed a real-time monitoring and control interface using Flask—a lightweight web framework in Python. This application provides a user-friendly interface for monitoring and controlling vacuum pump systems in industrial settings. Leveraging Flask's flexibility and simplicity, I designed a responsive web UI that communicates with a Programmable Logic Controller (PLC) to fetch real-time data and control parameters of multiple vacuum pumps.</p>
                <h3>Key Features</h3>
                    <p class="p"><strong>Real-time Data Retrieval:</strong> The application fetches real-time data from the PLC, including vacuum levels and separator pressures for each pump.</p>
                    <p class="p"><strong>Alarm Status Monitoring:</strong> Users can monitor the alarm status of each pump, as well as alarm history. This facilitates quick identification of potential issues or anomalies.</p>
                    <p class="p"><strong>Dynamic UI Elements:</strong> The UI dynamically updates pump animations and colors based on their operational status, providing intuitive visual feedback to users.</p>
                    <p class="p"><strong>Process Simulation:</strong> The incoming data can be simulated to build a monitoring system without interfering critical processes.</p>
                <h3>Technologies Used:</h3>
                <ul>
                    <li>Python Flask: For building the web application and handling HTTP requests.</li>
                    <li>JavaScript (AJAX): For asynchronous data retrieval and dynamic UI updates without page reloads.</li>
                    <li>Pylogix Library: For interfacing with the PLC and retrieving real-time data.</li>
                    <li>HTML/CSS: For designing the user interface and styling elements for improved usability.</li>
                </ul>
                <h3>Project Impact:</h3>
                    <p class="p">This project showcases my ability to develop practical solutions for industrial automation challenges by integrating software and hardware components. By creating a robust monitoring and control interface, I demonstrated proficiency in web development, PLC programming, and data communication protocols. The application's user-friendly design and real-time data visualization capabilities enhance operational efficiency and facilitate proactive maintenance, contributing to improved productivity and reliability in industrial environments.</p>
                
                       
        
        
                <div class="scada2">
                    <div id="scada2title">
                        <h2>Power Plant SCADA</h2>
                        <h5>IN DEVELOPMENT...</h5>
                    </div>
                    <div id="windmillsvg">
                        <svg class="windmillsvg" width="250" height="200" xmlns="http://www.w3.org/2000/svg">
                            <g id="initialwindmill">
                             <title>Layer 1</title>
                             //animation starting position
                             <rect fill="#fff" stroke="#000" x="149.2228" y="205" width="10" height="140" id="svg_1"/>
                             <path fill="#fff" stroke="#000" opacity="undefined" d="m154.23023,208.27131c-8.28729,0 -15,-6.71271 -15,-15c0,-8.28729 6.71271,-15 15,-15c8.28729,0 15,6.71271 15,15c0,8.28729 -6.71271,15 -15,15z" id="svg_2"/>
                             <ellipse fill="#fff" stroke="#000" cx="153.74802" cy="137.90898" id="svg_3" rx="5" ry="40"/>
                             <ellipse fill="#fff" stroke="#000" cx="204.35588" cy="215.00031" id="svg_4" rx="5" ry="39.82801" transform="rotate(-65.095 204.356 215)"/>
                             <path fill="#fff" stroke="#000" opacity="undefined" d="m105.31054,258.39335c-2.76243,0 -5,-17.82358 -5,-39.82801c0,-22.00442 2.23757,-39.82801 5,-39.82801c2.76243,0 5,17.82358 5,39.82801c0,22.00442 -2.23757,39.82801 -5,39.82801z" id="svg_5" transform="rotate(-119.055 105.311 218.565)"/>
                           </g>
                             //first transition
                           <g id="windmill2">
                             <rect fill="#fff" stroke="#000" x="149.45175" y="205" width="10" height="140" id="svg_6"/>
                             <path fill="#fff" stroke="#000" opacity="undefined" d="m154.45918,209.37084c-8.28729,0 -15,-6.7127 -15,-15c0,-8.28729 6.71271,-15 15,-15c8.2873,0 15,6.71271 15,15c0,8.2873 -6.7127,15 -15,15z" id="svg_7"/>
                             <ellipse transform="rotate(-21.6798 134.288 142.635)" fill="#fff" stroke="#000" cx="134.28786" cy="142.63546" id="svg_8" rx="5" ry="40"/>
                             <ellipse transform="rotate(-84.6285 209.248 198.483)" fill="#fff" stroke="#000" cx="209.24805" cy="198.48327" id="svg_9" rx="5" ry="39.82801"/>
                             <path transform="rotate(-144.141 120.566 236.763)" fill="#fff" stroke="#000" opacity="undefined" d="m120.5654,276.59132c-2.76243,0 -5,-17.82358 -5,-39.828c0,-22.00442 2.23757,-39.82801 5,-39.82801c2.76243,0 5,17.82359 5,39.82801c0,22.00442 -2.23757,39.828 -5,39.828z" id="svg_10"/>
                           </g>
                             //second transition
                           <g id="windmill3">
                             <rect fill="#fff" stroke="#000" x="149.17393" y="205" width="10" height="140" id="svg_16"/>
                             <path fill="#fff" stroke="#000" opacity="undefined" d="m154.18136,208.27456c-8.28729,0 -15,-6.7127 -15,-15c0,-8.28729 6.71271,-15 15,-15c8.2873,0 15,6.71271 15,15c0,8.2873 -6.7127,15 -15,15z" id="svg_17"/>
                             <ellipse transform="rotate(-51.8154 111.212 159.674)" fill="#fff" cx="111.21211" cy="159.6739" id="svg_18" rx="5" ry="40" stroke="#000"/>
                             <ellipse transform="rotate(-118.628 202.234 166.299)" fill="#fff" cx="202.23448" cy="166.29891" id="svg_19" rx="5" ry="39.82801" stroke="#000"/>
                             <path transform="rotate(-168.75 142.049 247.066)" fill="#fff" stroke="#000" opacity="undefined" d="m142.04924,286.89401c-2.76243,0 -5,-17.82358 -5,-39.828c0,-22.00442 2.23757,-39.82801 5,-39.82801c2.76243,0 5,17.82359 5,39.82801c0,22.00442 -2.23757,39.828 -5,39.828z" id="svg_20"/>
                           </g>
                             //third transition
                           <g id="windmill4">
                             <rect fill="#fff" stroke="#000" x="149.19639" y="205" width="10" height="140" id="svg_21"/>
                             <path fill="#fff" stroke="#000" opacity="undefined" d="m154.20382,208.17348c-8.28729,0 -15,-6.7127 -15,-15c0,-8.28729 6.71271,-15 15,-15c8.2873,0 15,6.71271 15,15c0,8.2873 -6.7127,15 -15,15z" id="svg_22"/>
                             <path transform="rotate(-82.4171 99.33 185.168)" fill="#fff" stroke="#000" opacity="undefined" d="m99.32981,225.16806c-2.76243,0 -5,-17.90055 -5,-40c0,-22.09945 2.23757,-40 5,-40c2.76243,0 5,17.90055 5,40c0,22.09945 -2.23757,40 -5,40z" id="svg_23"/>
                             <ellipse transform="rotate(-150.498 180.828 145.96)" fill="#fff" cx="180.82837" cy="145.95974" id="svg_24" rx="5" ry="39.82801" stroke="#000"/>
                             <path transform="rotate(151.83 179.572 241.608)" fill="#fff" stroke="#000" opacity="undefined" d="m179.5717,281.43579c-2.76243,0 -5,-17.82358 -5,-39.828c0,-22.00442 2.23757,-39.82801 5,-39.82801c2.76243,0 5,17.82359 5,39.82801c0,22.00442 -2.23757,39.828 -5,39.828z" id="svg_25"/>
                           </g> 
                           
                           
                           </svg>
                           <script>
                               function animateSVG() {
                                   // Show the first shape
                                   document.getElementById('initialwindmill').style.display = 'block';
                                   // Hide other shapes
                                   document.getElementById('windmill2').style.display = 'none';
                                   document.getElementById('windmill3').style.display = 'none';
                                   document.getElementById('windmill4').style.display = 'none';
                           
                                   // Transition to the second shape after a shorter delay
                                   setTimeout(() => {
                                       document.getElementById('windmill2').style.display = 'block';
                                       document.getElementById('initialwindmill').style.display = 'none';
                                   }, 250); // Adjust the delay as needed
                           
                                   // Transition to the third shape after a shorter delay
                                   setTimeout(() => {
                                       document.getElementById('windmill3').style.display = 'block';
                                       document.getElementById('windmill2').style.display = 'none';
                                   }, 500); // Adjust the delay as needed
                           
                                   // Transition to the fourth shape after a shorter delay
                                   setTimeout(() => {
                                       document.getElementById('windmill4').style.display = 'block';
                                       document.getElementById('windmill3').style.display = 'none';
                                   }, 750); // Adjust the delay as needed
                               }
                           
                               // Call the animation function when the page loads
                               window.onload = function() {
                                   // Start the animation loop
                                   setInterval(animateSVG, 1000); // Adjust the interval as needed
                           
                                   // Call animateSVG immediately to start the animation
                                   animateSVG();
                               };
                           
                           </script>

                    </div>
                    <div id="bar">
                        <button id="estop">estop</button>
                        <button id="Process Overview">Process Overview</button>
                        <button id="Process Control">Process Control</button>
                        <button id="Data Trends">Data Trends</button>
                        <button id="Alarm History">Alarm History</button>
                        <button id="Reports">Reports</button>
                    </div>
            
            
            
            
                </div>
            
            
        </section>
        
        <footer>
            <p>&copy; 2024 Jeffrey Reagan</p>
        </footer>

        <h1>Test for back to home Button</h1>
        <button id="home_button" onclick="changePage_home()">Go home Button</button>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
        <button id="page_3_button" onclick="changePage_3()">Page 3</button>
        <script>src="{{ url_for('static', filename='js/main.js') }}"</script>

    
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>PLC/HMI/SCADA Experience</title>
            <link rel="stylesheet" href="static/css/style.css">
        </head>
</body>
</html>