<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <header>
        <div class="nav-home">
            <nav>
                <button class="navbar-toggler" onclick="toggleNavbar()">☰</button>
                <div class="navbar-nav">
                    <ol class="navbar-nav1">
                        <li><a href="index.html" style="text-decoration: none;">Home</a></li>
                        <li><a href="page_2.html" style="text-decoration:none">Industrial Control Web interfaces</a></li>
                        <li><a href="page_3.html" style="text-decoration:none">Technologies used</a></li>
                        <li><a href="page_4.html" style="text-decoration:none">Implementation</a></li>
                        <li><a href="page_5.html" style="text-decoration:none">Benefits</a></li>
                        <li><a href="page_6.html" style="text-decoration:none">About me</a></li>
                        <li><a href="page_7.html" style="text-decoration:none">Contact</a></li>
                    </ol>
                </div>
            </nav>
        </div>
        
    </header>






</html>