<!DOCTYPE html>
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.0.0/luxon.min.js"></script>
    
    <header>
        <div class="nav-home">
            <nav>
                <button class="navbar-toggler" onclick="toggleNavbar()">☰</button>
                <div class="navbar-nav">
                    <ol class="navbar-nav1">
                        <li><a href="index.html" style="text-decoration: none;">Home</a></li>
                        <li><a href="page_2.html" style="text-decoration:none">Industrial Control Web interfaces</a></li>
                        <li><a href="page_3.html" style="text-decoration:none">Technologies used</a></li>
                        <li><a href="page_4.html" style="text-decoration:none">Implementation</a></li>
                        <li><a href="page_5.html" style="text-decoration:none">Benefits</a></li>
                        <li><a href="page_6.html" style="text-decoration:none">About me</a></li>
                        <li><a href="page_7.html" style="text-decoration:none">Contact</a></li>
                    </ol>
                </div>
            </nav>
        </div>
        
    </header>
    <h2>Technologies Used</h2>
   <h3>PLC data collection</h3>
<p> PyLogix, a Python library, enables communication with Allen-Bradley PLCs using the CIP protocol (Common Industrial Protocol). This library simplifies data exchange between the Python backend and PLCs, facilitating seamless integration and control.</p>
<h3>Web Server</h3>
<p>This web server is a simple Raspberry Pi 4b utilizing python's Flask library. Data storage is done on the server side with no SQL databases being used quite yet.</p>
<p>Flask servers can be set up locally or a full production application can be developed for remote connection applications.</p>
<h3>Design</h3>
<p>These SCADA systems are designed from scratch using html with svg drawings, allowing nearly unlimitted customization.</p>
<h3>Visualization</h3>
<p>SCADA systems at their core specialize in displaying critical information. Visualization is done using vanilla JavaScript. After the webpage is loaded, data is constantly being retrieved from the server. Javascipt allows this data to dynamically change the webpage, all without refreshing the page. The charts are rendered via Chart.js </p>
<h3>Reporting</h3>
<p>In the near future, SQL databases will be incorporated to permenately store all data. As of now, the Flask server temporarily stores all data in memory.</p>
<h3>Version Control</h3>
<p>Check for latest version in branches.</p>
<a href="https://github.com/jeffreyreagan/Raspberry-Pi-projects/tree/scada_v2.29">Github Project Tree</a>
<img id="serverscreen" src="/static/images/server.png"/>














    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>





</body>