<!DOCTYPE html>
<html lang="en">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.0.0/luxon.min.js"></script>


    <header>
        <div class="nav-home">
            <nav>
                <button class="navbar-toggler" onclick="toggleNavbar()">☰</button>
                <div class="navbar-nav">
                    <ol class="navbar-nav1">
                        <li><a href="index.html" style="text-decoration: none;">Home</a></li>
                        <li><a href="page_2.html" style="text-decoration:none">PLC/HMI/SCADA programming and design</a></li>
                        <li><a href="page_3.html" style="text-decoration:none">Python web development</a></li>
                        <li><a href="page_4.html" style="text-decoration:none">News in Automation</a></li>
                        <li><a href="page_5.html" style="text-decoration:none">Robotics</a></li>
                        <li><a href="page_6.html" style="text-decoration:none">Hobbies</a></li>
                        <li><a href="page_7.html" style="text-decoration:none">Contact Me</a></li>
                    </ol>
                </div>
            </nav>
        </div>
        
    </header>
    <div class="welcome">
    
        <div id="popup">
            <div id="content"></div>
          </div>
        <img id="computer"src="/static/images/computer.jpg" width="50" height="50"/><img id="envelope1" src='/static/images/envelope1.jpg' alt="envelope1" width="50" height="50"><img id="raspi" src="/static/images/raspi.jpg" width="100" height="100"/>
        </div>
    
    <h2 class="ips"> 
        <p id="clientip">Your IP Address: {{ visitor_ip }}</p>

        <p id="serverip"></p>
    </h2>
    </div>
        <body>
        <section class="content">
            <h2>Introduction</h2>
                <p>Here I share insights into my professional journey within industrial automation, with a particular focus on Programmable Logic Controllers (PLCs), Human-Machine Interfaces (HMIs), and Supervisory Control and Data Acquisition (SCADA) systems.</p>
                <p>My journey began at Alfred State, where I pursued and successfully completed an Associate's degree in Electrical Construction and Maintenance. It was here I found a passion for programming and automation. </p>
                <p>Transitioning from traditional relay logic systems to modern Programmable Logic Controllers (PLCs) was a turning point early in my career. PLCs provide unparalleled flexibility and efficiency, simplifying control logic design and enabling rapid adjustments without extensive rewiring. </p>
                <p>Along with PLCs, improved methods of monitoring and controlling processes were developed. Human machine Interfaces(HMIs) became common on the production floor. These interfaces communicate with the PLC and display realtime data, alarm history, input/output states, control parameters, and user-friendly representations of the machine. </p>
                <p>PLCs facilitate seamless integration with robust industrial components, enabling efficient communication and coordination between different systems. These industrial computers hold and execute the program that controls the field devices(motors, pumps, solenoids) by interfacing directly with the field devices or indirectly through RIO(remote controllers typically held near field devices), VFDs(Variable Frequency Drives),Servo Drives,soft starts, and any other inputs/outputs conventional relay logic would allow.</p>
            <h2>Projects</h2>
                <h3>Real-time Monitoring and Control Interface for Vacuum Pump Systems</h3>
                <div id="vacuumchillerplchtml">
                    <head>
                        <style>
                            .svg-container {
                                display: inline-block;
                                margin-right: 20px;
                                border-color: black; /* Adjust the margin as needed */
                            }
                            .banner-img {
                                width: 30%; /* Adjust the width as needed */
                                max-height: 100px; /* Maintain aspect ratio */
                                height: auto;
                        }
                        </style>
                    </head>
                    <body>
                        
                    <h1 style="color: green;">Vacuum Pump UI</h1>
                    </body>
                    <div class="svg-container">
                    <p>Vacuum at Pump 1: <span id="pump1vacuum"></span> psi</p>
                    <p>Seperator Pressure <span id="seperator1_psi"></span> psi</p>
                    <p>Alarm: <span id="pump1alarmstatus"></span> Description:<span id="pump1_active_alarms"></span></p>
                    <svg width="250" height="225">
                    <!--Inlet Filter-->
                        <rect x="75" y="20" width="100" height="50" stroke="black" fill="white"></rect>
                        <rect x="60" y="45" width="15" height="7" stroke="black" fill="green"></rect>
                        <text x="90" y="40" fill="black">inlet filter</text>
                    <!--Pipe 1 inlet-->
                        <polyline points="75,70 100,95 130,95 "
                        style="fill:none;stroke:black;stroke-width:1" />
                        <polyline points="100,70 110,80 141,80"
                        style="fill:none;stroke:black;stroke-width:1" />
                    <!--Pump-->
                        <circle cx="160" cy="110" r="35" stroke="black" fill="white" />
                        <circle id='pump1status'cx="160" cy="125" r="20" stroke="black" fill="green" />
                        <text x="140" y="100" fill="black">Pump</text>
                    <!--Pipe 2 orange pump to seperator-->
                        <rect x="195" y="105" width="10" height="5" stroke="black" fill="orange"></rect>
                        <rect x="205" y="102.5" width="25" height="10" stroke="black" fill="orange"></rect>
                        <rect x="210" y="80" width="15" height="25" stroke="black" fill="orange"></rect>
                        <rect x="230" y="105" width="10" height="5" stroke="black" fill="orange"></rect>
                        <rect x="235" y="105" width="5" height="50" stroke="black" fill="orange"></rect>
                    <!--Pipe 2 orange seperator to exhaust-->
                        <rect x="55" y="170" width="180" height="5" stroke="black" fill="orange"></rect>
                    <!--Radiator-->
                        <rect x="200" y="140" width="40" height="40" stroke="black" fill="orange"></rect>
                        <circle cx="220" cy="160" r="20" stroke="black" fill="green"></circle>
                        <circle cx="220" cy="160" r="5" stroke="black" fill="green"></circle>
                        <ellipse cx="220" cy="160" rx="16" ry="12" stroke="black" fill="white" transform="rotate(90 300 300)" ></ellipse>
                        <!--pump valve-->
                        <rect x="110" y="90" width="15" height="2" stroke="black" fill="green"> </rect>
                    
                        <polyline points="75,70 100,95 130,95 "
                        style="fill:none;stroke:black;stroke-width:1" />
                    <!--Exhaust-->
                        <ellipse cx="145" cy="550" rx="36" ry="22" stroke="black" fill="white" transform="rotate(90 300 300)" ></ellipse>
                        <text x="25" y="95" fill="black">Exhaust</text>
                    </svg>
                    <h1>Pump 1 Control</h1>
                    <button id="togglePump1Button">Toggle Pump 1</button>
                    <button id="alarmhistorypump1Button" onclick="openAlarmHistory('pump1alarm')">Open Alarm History for Pump 1</button>

<!-- The Modal -->
                        <div id="pump1alarm" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close" onclick="closeAlarmHistory('pump1alarm')">&times;</span>
                            <h2>Alarm History for Pump 1</h2>
                            <p id="pump1alarmtimestamps"></p>
                        </div>

                        </div>
                    </div>
                    <div class="svg-container">
                        <p>Vacuum at Pump 2: <span id="pump2vacuum"></span></p>
                        <p>Seperator Pressure <span id="seperator2_psi"></span></p>
                        <p>Alarm: <span id="pump2alarmstatus"></span> Description:<span id="pump2_active_alarms"></span></p>
                    
                        <!--Pump 2 UI-->
                        <svg width="250" height="225">
                            <!--Inlet Filter-->
                                <rect x="75" y="20" width="100" height="50" stroke="black" fill="white"></rect>
                                <rect x="60" y="45" width="15" height="7" stroke="black" fill="green"></rect>
                                <text x="90" y="40" fill="black">inlet filter</text>
                        
                            <!--Pipe 1 inlet-->
                                <polyline points="75,70 100,95 130,95 "
                                style="fill:none;stroke:black;stroke-width:1" />
                                <polyline points="100,70 110,80 141,80"
                                style="fill:none;stroke:black;stroke-width:1" />
                            <!--Pump-->
                                <circle cx="160" cy="110" r="35" stroke="black" fill="white" />
                                <circle id='pump2status'cx="160" cy="125" r="20" stroke="black" fill="green" />
                                <text x="140" y="100" fill="black">Pump</text>
                            <!--Pipe 2 orange pump to seperator-->
                                <rect x="195" y="105" width="10" height="5" stroke="black" fill="orange"></rect>
                                <rect x="205" y="102.5" width="25" height="10" stroke="black" fill="orange"></rect>
                                <rect x="210" y="80" width="15" height="25" stroke="black" fill="orange"></rect>
                                <rect x="230" y="105" width="10" height="5" stroke="black" fill="orange"></rect>
                                <rect x="235" y="105" width="5" height="50" stroke="black" fill="orange"></rect>
                            <!--Pipe 2 orange seperator to exhaust-->
                                <rect x="55" y="170" width="180" height="5" stroke="black" fill="orange"></rect>
                            <!--Radiator-->
                        
                                <rect x="200" y="140" width="40" height="40" stroke="black" fill="orange"></rect>
                                <circle cx="220" cy="160" r="20" stroke="black" fill="green"></circle>
                                <circle cx="220" cy="160" r="5" stroke="black" fill="green"></circle>
                                <ellipse cx="220" cy="160" rx="16" ry="12" stroke="black" fill="white" transform="rotate(90 300 300)" ></ellipse>
                                <!--pump valve-->
                                <rect x="110" y="90" width="15" height="2" stroke="black" fill="green"> </rect>
                        
                                <polyline points="75,70 100,95 130,95 "
                                style="fill:none;stroke:black;stroke-width:1" />
                        
                            <!--Exhaust-->
                                <ellipse cx="145" cy="550" rx="36" ry="22" stroke="black" fill="white" transform="rotate(90 300 300)" ></ellipse>
                                <text x="25" y="95" fill="black">Exhaust</text>
                        </svg>
                        <h1>Pump 2 Control</h1>
                        <button id="togglePump2Button">Toggle Pump 2</button>
                        <button id="alarmhistorypump2Button" onclick="openAlarmHistory('pump2alarm')">Open Alarm History for Pump 2</button>
                        <div id="pump2alarm" class="modal">

                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close" onclick="closeAlarmHistory('pump2alarm')">&times;</span>
                                <h2>Alarm History for Pump 2</h2>
                                <p id="pump2alarmtimestamps"></p>
                            </div>
    
                            </div>
                    </div>
                    <div class="svg-container">
                        <p>Vacuum at Pump 3: <span id="pump3vacuum"></span> </p>
                        <p>Seperator Pressure <span id="seperator3_psi"></span></p>
                        <p>Alarm: <span id="pump3alarmstatus"></span> Description:<span id="pump3_active_alarms"></span></p>
                    
                        <!--Pump 3 UI-->
                        <svg width="250" height="225">
                            <!--Inlet Filter-->
                                <rect x="75" y="20" width="100" height="50" stroke="black" fill="white"></rect>
                                <rect x="60" y="45" width="15" height="7" stroke="black" fill="green"></rect>
                                <text x="90" y="40" fill="black">inlet filter</text>
                        
                            <!--Pipe 1 inlet-->
                                <polyline points="75,70 100,95 130,95 "
                                style="fill:none;stroke:black;stroke-width:1" />
                                <polyline points="100,70 110,80 141,80"
                                style="fill:none;stroke:black;stroke-width:1" />
                            <!--Pump-->
                                <circle cx="160" cy="110" r="35" stroke="black" fill="white" />
                                <circle id='pump3status'cx="160" cy="125" r="20" stroke="black" fill="green" />
                                <text x="140" y="100" fill="black">Pump</text>
                            <!--Pipe 2 orange pump to seperator-->
                                <rect x="195" y="105" width="10" height="5" stroke="black" fill="orange"></rect>
                                <rect x="205" y="102.5" width="25" height="10" stroke="black" fill="orange"></rect>
                                <rect x="210" y="80" width="15" height="25" stroke="black" fill="orange"></rect>
                                <rect x="230" y="105" width="10" height="5" stroke="black" fill="orange"></rect>
                                <rect x="235" y="105" width="5" height="50" stroke="black" fill="orange"></rect>
                            <!--Pipe 2 orange seperator to exhaust-->
                                <rect x="55" y="170" width="180" height="5" stroke="black" fill="orange"></rect>
                            <!--Radiator-->
                        
                                <rect x="200" y="140" width="40" height="40" stroke="black" fill="orange"></rect>
                                <circle cx="220" cy="160" r="20" stroke="black" fill="green"></circle>
                                <circle cx="220" cy="160" r="5" stroke="black" fill="green"></circle>
                                <ellipse cx="220" cy="160" rx="16" ry="12" stroke="black" fill="white" transform="rotate(90 300 300)" ></ellipse>
                                <!--pump valve-->
                                <rect x="110" y="90" width="15" height="2" stroke="black" fill="green"> </rect>
                        
                                <polyline points="75,70 100,95 130,95 "
                                style="fill:none;stroke:black;stroke-width:1" />
                        
                            <!--Exhaust-->
                                <ellipse cx="145" cy="550" rx="36" ry="22" stroke="black" fill="white" transform="rotate(90 300 300)" ></ellipse>
                                <text x="25" y="95" fill="black">Exhaust</text>
                        </svg>
                        <h1>Pump 3 Control</h1>
                        <button id="togglePump3Button">Toggle Pump 3</button>
                    </div>
                    <div class="svg-container">
                        <p>Vacuum at Pump 4: <span id="pump4vacuum"></span> </p>
                        <p>Seperator Pressure <span id="seperator4_psi"></span></p>
                        <p>Alarm: <span id="pump4alarmstatus"></span> Description:<span id="pump4_active_alarms"></span></p>
                    
                        <!--Pump 3 UI-->
                        <svg width="250" height="225">
                            <!--Inlet Filter-->
                                <rect x="75" y="20" width="100" height="50" stroke="black" fill="white"></rect>
                                <rect x="60" y="45" width="15" height="7" stroke="black" fill="green"></rect>
                                <text x="90" y="40" fill="black">inlet filter</text>
                        
                            <!--Pipe 1 inlet-->
                                <polyline points="75,70 100,95 130,95 "
                                style="fill:none;stroke:black;stroke-width:1" />
                                <polyline points="100,70 110,80 141,80"
                                style="fill:none;stroke:black;stroke-width:1" />
                            <!--Pump-->
                                <circle cx="160" cy="110" r="35" stroke="black" fill="white" />
                                <circle id='pump4status'cx="160" cy="125" r="20" stroke="black" fill="green" />
                                <text x="140" y="100" fill="black">Pump</text>
                            <!--Pipe 2 orange pump to seperator-->
                                <rect x="195" y="105" width="10" height="5" stroke="black" fill="orange"></rect>
                                <rect x="205" y="102.5" width="25" height="10" stroke="black" fill="orange"></rect>
                                <rect x="210" y="80" width="15" height="25" stroke="black" fill="orange"></rect>
                                <rect x="230" y="105" width="10" height="5" stroke="black" fill="orange"></rect>
                                <rect x="235" y="105" width="5" height="50" stroke="black" fill="orange"></rect>
                            <!--Pipe 2 orange seperator to exhaust-->
                                <rect x="55" y="170" width="180" height="5" stroke="black" fill="orange"></rect>
                            <!--Radiator-->
                        
                                <rect x="200" y="140" width="40" height="40" stroke="black" fill="orange"></rect>
                                <circle cx="220" cy="160" r="20" stroke="black" fill="green"></circle>
                                <circle cx="220" cy="160" r="5" stroke="black" fill="green"></circle>
                                <ellipse cx="220" cy="160" rx="16" ry="12" stroke="black" fill="white" transform="rotate(90 300 300)" ></ellipse>
                                <!--pump valve-->
                                <rect x="110" y="90" width="15" height="2" stroke="black" fill="green"> </rect>
                        
                                <polyline points="75,70 100,95 130,95 "
                                style="fill:none;stroke:black;stroke-width:1" />
                        
                            <!--Exhaust-->
                                <ellipse cx="145" cy="550" rx="36" ry="22" stroke="black" fill="white" transform="rotate(90 300 300)" ></ellipse>
                                <text x="25" y="95" fill="black">Exhaust</text>
                        </svg>
                        <h1>Pump 4 Control</h1>
                        <button id="togglePump4Button">Toggle Pump 4</button>
                    </div>
                    <div class="svg-container">
                        <p>Vacuum at Pump 5: <span id="pump5vacuum"></span> </p>
                        <p>Seperator Pressure <span id="seperator5_psi"></span></p>
                        <p>Alarm: <span id="pump5alarmstatus"></span> Description:<span id="pump5_active_alarms"></span></p>
                    
                        <!--Pump 3 UI-->
                        <svg width="250" height="225">
                            <!--Inlet Filter-->
                                <rect x="75" y="20" width="100" height="50" stroke="black" fill="white"></rect>
                                <rect x="60" y="45" width="15" height="7" stroke="black" fill="green"></rect>
                                <text x="90" y="40" fill="black">inlet filter</text>
                        
                            <!--Pipe 1 inlet-->
                                <polyline points="75,70 100,95 130,95 "
                                style="fill:none;stroke:black;stroke-width:1" />
                                <polyline points="100,70 110,80 141,80"
                                style="fill:none;stroke:black;stroke-width:1" />
                            <!--Pump-->
                                <circle cx="160" cy="110" r="35" stroke="black" fill="white" />
                                <circle id='pump5status'cx="160" cy="125" r="20" stroke="black" fill="green" />
                                <text x="140" y="100" fill="black">Pump</text>
                            <!--Pipe 2 orange pump to seperator-->
                                <rect x="195" y="105" width="10" height="5" stroke="black" fill="orange"></rect>
                                <rect x="205" y="102.5" width="25" height="10" stroke="black" fill="orange"></rect>
                                <rect x="210" y="80" width="15" height="25" stroke="black" fill="orange"></rect>
                                <rect x="230" y="105" width="10" height="5" stroke="black" fill="orange"></rect>
                                <rect x="235" y="105" width="5" height="50" stroke="black" fill="orange"></rect>
                            <!--Pipe 2 orange seperator to exhaust-->
                                <rect x="55" y="170" width="180" height="5" stroke="black" fill="orange"></rect>
                            <!--Radiator-->
                        
                                <rect x="200" y="140" width="40" height="40" stroke="black" fill="orange"></rect>
                                <circle cx="220" cy="160" r="20" stroke="black" fill="green"></circle>
                                <circle cx="220" cy="160" r="5" stroke="black" fill="green"></circle>
                                <ellipse cx="220" cy="160" rx="16" ry="12" stroke="black" fill="white" transform="rotate(90 300 300)" ></ellipse>
                                <!--pump valve-->
                                <rect x="110" y="90" width="15" height="2" stroke="black" fill="green"> </rect>
                        
                                <polyline points="75,70 100,95 130,95 "
                                style="fill:none;stroke:black;stroke-width:1" />
                        
                            <!--Exhaust-->
                                <ellipse cx="145" cy="550" rx="36" ry="22" stroke="black" fill="white" transform="rotate(90 300 300)" ></ellipse>
                                <text x="25" y="95" fill="black">Exhaust</text>
                        </svg>
                        <h1>Pump 5 Control</h1>
                        <button id="togglePump5Button">Toggle Pump 5</button>
                    </div>
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script src="/static/js/server_scripts.js"></script>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                    

                    
                </div>
                <div class="chart">
                   <!-- Include Chart.js library -->
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
                    
                    
                    <canvas id="liveGraph" width="400" height="100" aria-label="Vacuum Average" role="img"></canvas>
                   

                </div>
                <h3>Overview</h3>
                <img id="ui_img" src="/static/images/UI.PNG" alt="UI" style="width:700px;height:250px;">
                    <p>As part of my project portfolio, I developed a real-time monitoring and control interface using Flask—a lightweight web framework in Python. This application provides a user-friendly interface for monitoring and controlling vacuum pump systems in industrial settings. Leveraging Flask's flexibility and simplicity, I designed a responsive web UI that communicates with a Programmable Logic Controller (PLC) to fetch real-time data and control parameters of multiple vacuum pumps.</p>
                <h3>Key Features</h3>
                    <p>Real-time Data Retrieval: The application fetches real-time data from the PLC, including vacuum levels and separator pressures for each pump.</p>
                    <p>Alarm Status Monitoring: Users can monitor the alarm status of each pump, facilitating quick identification of potential issues or anomalies.</p>
                    <p>Dynamic UI Elements: The UI dynamically updates pump animations and colors based on their operational status, providing intuitive visual feedback to users.</p>
                <h3>Technologies Used:</h3>
                <ul>
                    <li>Python Flask: For building the web application and handling HTTP requests.</li>
                    <li>JavaScript (AJAX): For asynchronous data retrieval and dynamic UI updates without page reloads.</li>
                    <li>Pylogix Library: For interfacing with the PLC and retrieving real-time data.</li>
                    <li>HTML/CSS: For designing the user interface and styling elements for improved usability.</li>
                </ul>
                <h3>Project Impact:</h3>
                    <p>This project showcases my ability to develop practical solutions for industrial automation challenges by integrating software and hardware components. By creating a robust monitoring and control interface, I demonstrated proficiency in web development, PLC programming, and data communication protocols. The application's user-friendly design and real-time data visualization capabilities enhance operational efficiency and facilitate proactive maintenance, contributing to improved productivity and reliability in industrial environments.</p>
                
                <div class="skills">
                <h2>Skills</h2>
                    <h3>PLC Programming</h3>
                    <ul>
                        <li>Ladder logic, function block diagrams, structured text</li>
                        <li>Allen Bradley software(Studio 5000, RSlogix, RsLinx)</li>
                        <li>Communication protocols (Modbus, Profibus, Ethernet/IP)</li>
                        <li>Troubleshooting and diagnostics</li>
                    </ul>
                    <h3>HMI Programming</h3>
                    <ul>
                        <li>Designing intuitive interfaces</li>
                        <li>Dynamic graphics, alarm management, trend displays</li>
                        <li>Integration with PLCs and other devices</li>
                    </ul>
                    <h3>SCADA configuration</h3>
                    <ul>
                        <li>Deploying SCADA systems</li>
                        <li>System architecture design</li>
                        <li>Real-time visualization, trends, alarms, reports</li>
                    </ul>
                </div>            
        </section>
    
        <footer>
            <p>&copy; 2024 Jeffrey Reagan</p>
        </footer>

        <h1>Test for back to home Button</h1>
        <button id="home_button" onclick="changePage_home()">Go home Button</button>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
        <button id="page_3_button" onclick="changePage_3()">Page 3</button>
        <script>src="{{ url_for('static', filename='js/main.js') }}"</script>

    
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>PLC/HMI/SCADA Experience</title>
            <link rel="stylesheet" href="static/css/style.css">
        </head>
</body>
</html>